.page-slider{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 100%;
}

.page-slider .nextPage, .page-slider .previousPage{
	font-size: 60px;
	display: block;
}

/* FUNCTIONS */

/** Delete Vertical Bar in Navigator **/
.overflowYHidden{
	overflow-y: hidden;
}